.App {
  text-align: center;
  /* position: absolute; */
  /* display: flex; */
  
}

form,.profile{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 30%;
  justify-content: center;
  position: absolute;
  top: 20%;
  /* border: 1px solid gray; */
  border-radius: 10px;
  box-shadow: 10px 10px 68px 14px rgba(205,206,230,0.29);
  padding: 10px;
}


.auth-inner{
  display: flex;
  justify-content: center;
}